$footerBgColor: #FFF;

$orange: #1824ce;

$maxWidth: 860px;

body {
  padding-bottom: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: $orange;
  transition: color 175ms ease-in-out;
}

a:hover {
  color: #333253;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.container {
  width: $maxWidth;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: $footerBgColor;
}