$bodyBgColor: #0c2233;
$bodyColor: #0a91ab;

$maxCardWidth: 860px;
$shadow: 0 3px 6px rgba(0,0,0,.1),0 0 3px rgba(0,0,0,.1);

$aColor: #a2d5f2;
$aHoverColor: #7db5ff;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Source+Serif+Pro:700&display=swap');

:root {
  font-size: 16px;
}

body {
  background-color: $bodyBgColor;
  color: $bodyColor;
  font-family: 'Roboto Mono', monospace;
}

.welcomeWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeGradientWrapper {
  width: $maxCardWidth;
  min-height: 50%;
  background-color: #FFF;
  box-shadow: $shadow;
  padding: 7px;
  background-color: #1824ce;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #0c00b6 100%);
  border-radius: 2px;
}

.welcomeCard {
  background-color:#0e2f47;
  color: #FFF;
  padding: 15px;
}

.welcomeUnderCard {
  padding: 10px;
}

.cardMenu, .cardMenu > ul {
  display: flex;
  flex-direction: row;
}

.cardMenu li {
  margin: 2px;
}

.cardMenu > ul > li > * {
  font-size: 1rem;
  padding: 7px;
}


.cardMenu > ul > li svg, .cardMenu > ul > li path {
  height: 1rem;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.cardHeader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  bottom: -5px;
}

.cardHeaderMsg {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.cardHeaderMsg h1 {
  font-size: 2.2rem;
}

.projectsSummary {
  padding: 5px;
}

.projectsSummary h2 {
  font-family: 'Montserrat', sans-serif;
}

.projectWrapper {
  margin: 10px 0px;
}

.projectContainer {
  box-shadow: $shadow;
  padding: 10px;
}

.contactName {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2rem;
}

@media screen and (max-width: ($maxCardWidth + 10px)) {
  
  .welcomeCard {
    max-width: 100%;
  }

  .welcomeGradientWrapper {
    width: 100%;
  }

  .welcomeWrapper {
    min-height: unset;
  }

  main {
    margin-top: 80px;
  }

}